<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="portifolio.css" >
  <link rel="stylesheet" href="corpo.css" >
  <title>Portifólio</title>

</head>
<body>
  <header>
    <div class="div-header">
      <a href="sobre">Sobre</a>
      <a href="aulas">Aulas</a>
    </div>
   <div class="copor-site">
      <img src="perfil.jpg" alt="Marcello Machado" id="foto_perfil">
      <h1>Marcello Machado de Almeida</h1>
      <h2>Estudante de Análise e Desenvolvimento de sistemas, buscando 
        melhorar meus conhecimentos para desenvolvimento 
        web e mobile </h1>
   </div>
   <div class="div-footer">
    <a href="https://github.com/Marcellomachadodealmeida" target="_black">Github</a>
    <a href="https://www.linkedin.com/in/marcello-machado-almeida-614814191/" target="_black">Linkedin</a>
  </div>
  </header>
</body>
</html>