<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="sobre.css" >
  <title>Portifólio</title>

</head>
<body>
  <header>
    <div class="div-header-sobre">
      <a href="/">Voltar</a>
      
    </div>
   <div class="corpo-site">
      <h1>Soft skils</h1>
      <h1>Características do seu perfil </h1>
      <img src="caracteristicas.jpg" alt="resumo do perfil">
      <h1>Hard skils</h1>
      <img src="hard.jpg" alt="resumo do perfil">
   <div class="div-footer">
    <a href="https://github.com/Marcellomachadodealmeida" target="_black">Github</a>
    <a href="https://www.linkedin.com/in/marcello-machado-almeida-614814191/" target="_black">Linkedin</a>
  </div>
  </header>
</body>
</html>